<p>
  <%= link_to 'New Post', new_post_path %>
</p>
<div class="posts-wrapper row">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <div class="name">
        Josh Echeverri
      </div>
    </div>
    <div class="image center-block">
      <a href="<%= post_path(post) %>">
        <%= image_tag post.image.url, class: 'img-fluid' %>
      </a>
    </div>
    <p class="caption">
      <%= post.caption %>
    </p>
  </div>
  <% end %>
</div>
