<section class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        Josh Echeverri
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url, class: "img-fluid" %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
  </div>
  <div class="center-block btn-group" role="group">
      <button type="button" class="btn btn-secondary"><a href="<%= edit_post_path(@post) %>">Edit</a></button>
      <button type="button" class="btn btn-secondary">    <a href="<%= posts_path %>">Go Back</a></button>
  </div>
</section>
