<nav class="navbar navbar-default bg-faded" id="main-nav">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">TipBits</a>
    <ul class="nav navbar-nav pull-xs-right">
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </div>
</nav>
