  <li class="nav-item active">
    <%= link_to "Home", root_path, class: "nav-link" %>
  </li>
<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to 'Logout', signout_path, class: "nav-link" %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Login with Facebook', signin_path, class: "nav-link" %>
  </li>
<% end %>
